/** CSS for my Portfolio **/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/** === Nav bar CSS === **/
    /* Do something with vector graphics, or css graphics. */
    nav > ul {
        display: inline;
    }

/** === All Screens === **/

    h1,h2 {
        text-align: center;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    img#desktopHeadshot {
        /* margin: 10px auto 50px; */
        width: 125px;
        height: 125px;
        margin: 0 0 0 0px;
        border-radius: 50%;
    }
    img#mobileHeadshot {
        margin: 10px auto 5px;
        width: 25%;
        height: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    #bioblock {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    p {
        padding: 0px 20px;
        text-align: justify;
        font-family: 'Roboto', Helvetica;
    }

    .infoBlock {
        width: 300px;
        margin: auto;
    }
    .infoBlock p {
        margin: 0;
        padding: 0;
    }
    h3 {
        font-family: 'Roboto', Helvetica;
        text-align: center;
    }
    h5 {
        font-family: 'Roboto', Helvetica;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

/** === Large Desktop (700px+) === **/

    @media screen and (min-width: 700px) {
        body {
            width: 650px;
            background-color: white;
            margin: 20px auto;
            border: 5px solid black;
        }
        #mobileHeadshot {
            display: none !important;
        }
    }

/** === Medium Desktop (600 - 700) === **/
    @media screen and (min-width: 600px) and (max-width: 700px) {
        #mobileHeadshot {
            display: none !important;
        }
        body {
            margin: auto;
            border: 1px solid black;
        }
    }

/** === Mobile (<600) === **/
    @media only screen and (max-width: 600px) {
        #desktopHeadshot {
            display: none !important;
        }
        body {
            margin: auto;
            border: 1px solid black;
        }
    }