/** CSS for my Portfolio **/

/** === Nav bar CSS === **/
    /* Do something with vector graphics, or css graphics. */
    nav > ul {
        display: inline;
    }

/** === All Screens === **/

    h1,h2,p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    img.desktopHeadshot {
        margin: 10px auto 50px;
        width: 500px;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.mobileHeadshot {
        margin: 10px auto 5px;
        width: 25%;
        height: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

/** === Large Desktop (700px+) === **/

    @media screen and (min-width: 700px) {
        body {
            width: 650px;
            background-color: white;
            margin: 20px auto;
            border: 5px solid black;
        }
        .mobileHeadshot {
            display: none !important;
        }
    }

/** === Medium Desktop (600 - 700) === **/
    @media screen and (min-width: 600px) and (max-width: 700px) {
        .mobileHeadshot {
            display: none !important;
        }
        body {
            margin: auto;
            border: 1px solid black;
        }
    }

/** === Mobile (<600) === **/
    @media only screen and (max-width: 600px) {
        .desktopHeadshot {
            display: none !important;
        }
        body {
            margin: auto;
            border: 1px solid black;
        }
    }